:root {
  --i1d: 38, 38, 38;
  --edc: 199, 199, 199;
  --f75: 38, 38, 38;
  --fe0: 0, 55, 107;
  --d87: 255, 255, 255;
  --b3f: 250, 250, 250;
  --bb2: 239, 239, 239;
  --f23: 255, 255, 255;
  --b38: 219, 219, 219;
  --b6a: 219, 219, 219;
  --ca6: 219, 219, 219;
  --cdd: 38, 38, 38;
  --e22: 199, 199, 199;
  --e62: 245, 251, 255;
  --b2f: 88, 195, 34;
  --c8c: 168, 168, 168;
  --ce3: 239, 239, 239;
  --jd9: 0, 0, 0;
  --j64: 54, 54, 54;
  --a97: 243, 243, 243;
  --d20: 38, 38, 38;

  --f52: 142, 142, 142;
  --h1d: 255, 255, 255;
  --de5: 255, 255, 255;
  --d69: 0, 149, 246;
  --b86: 88, 195, 34;
  --i30: 237, 73, 86;
  --d62: 255, 255, 255;
  --a72: 255, 255, 255;
  --ie3: 142, 142, 142;
  --c37: 237, 73, 86;
  --f24: 0, 149, 246;
  --jbb: 53, 121, 234;
  --eca: 255, 255, 255;
  --jb7: 0, 0, 0;
  --fa7: 224, 241, 255;
  --ba8: 168, 168, 168;
  --eac: 237, 73, 86;
}
